# Semester 1 Project Submission

## Elliot

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

## Ian

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

## Frida

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

## Enrique

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

## John

In [21]:
# import all necessary packages
import csv
import pandas as pd
import numpy as np

# Opening + Reading the Movie_Gross CSV file
tmdb_movie_gross = pd.read_csv('DataBases/bom.movie_gross.csv', encoding = 'utf-8')

# Remove duplicate records
tmdb_movie_gross = tmdb_movie_gross.drop_duplicates()

# Standardize domestic_gross into an Int
tmdb_movie_gross['domestic_gross'] = tmdb_movie_gross['domestic_gross'].fillna(0)
tmdb_movie_gross['domestic_gross'] = tmdb_movie_gross['domestic_gross'].astype(int)

# Replace NaN to 0 in foreign_gross
tmdb_movie_gross['foreign_gross'] = tmdb_movie_gross['foreign_gross'].fillna(0)

# Because there were 5 entries that were null in Studio, we change the null value to a string that says "Unknown" which just means that we don't know the studio that produced the film
tmdb_movie_gross['studio'] = tmdb_movie_gross['studio'].fillna('Unknown')

#Display Movie_Gross Data
tmdb_movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000,652000000,2010
1,Alice in Wonderland (2010),BV,334200000,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000,664300000,2010
3,Inception,WB,292600000,535700000,2010
4,Shrek Forever After,P/DW,238700000,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200,0,2018
3383,Edward II (2018 re-release),FM,4800,0,2018
3384,El Pacto,Sony,2500,0,2018
3385,The Swan,Synergetic,2400,0,2018
3386,An Actor Prepares,Grav.,1700,0,2018

In [23]:
tmdb_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3387 non-null   object
 2   domestic_gross  3387 non-null   int32
 3   foreign_gross   3387 non-null   object
 4   year            3387 non-null   int64
dtypes: int32(1), int64(1), object(3)
memory usage: 145.5+ KB

In [24]:
tmdb_movie_gross.duplicated().value_counts()

False    3387
dtype: int64

In [25]:
tmdb_movie_gross.isnull().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64