# Semester 1 Project Submission

## Elliot

### The Movie Database Data Cleanse

In [2]:
#import needed libraries
import pandas as pd

In [40]:
#read tmdb file and drop null values
tmdb_movie_db = pd.read_csv('databases/tmdb.movies.csv', na_filter=True, na_values='[]', encoding = 'utf-8', index_col = 0)
tmdb_movie_db.dropna()
#drop extra title column
tmdb_movie_db = tmdb_movie_db.drop('original_title', axis = 1)
#standardize release date into date format
tmdb_movie_db['release_date'] = pd.to_datetime(tmdb_movie_db['release_date'])
#strip whitespace from title
tmdb_movie_db['title'] = tmdb_movie_db['title'].str.strip()
#remove duplicates
tmdb_movie_db = tmdb_movie_db.drop_duplicates()
#convert genre_ids to name

tmdb_movie_db

df.where()

,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,0.600,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,0.600,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,0.600,2018-10-05,The Church,0.0,1

In [4]:
tmdb_movie_db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25497 entries, 0 to 26516
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          25497 non-null  object
 1   id                 25497 non-null  int64
 2   original_language  25497 non-null  object
 3   popularity         25497 non-null  float64
 4   release_date       25497 non-null  datetime64[ns]
 5   title              25497 non-null  object
 6   vote_average       25497 non-null  float64
 7   vote_count         25497 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 1.8+ MB

In [14]:
#check to see if there any null values
tmdb_movie_db.isnull().sum()

genre_ids            0
id                   0
original_language    0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [5]:
#check to see that there are no duplicates
tmdb_movie_db.duplicated().value_counts()

False    25497
dtype: int64

In [7]:
tmdb_movie_db.shape

(25497, 8)

### The Numbers Data Cleanse

In [34]:
#read tn file
tn_movie_db = pd.read_csv('databases/tn.movie_budgets.csv', na_filter=True, na_values='[]', encoding = 'utf-8', index_col = 0)
tn_movie_db.dropna()
#standardize release date into date format
tn_movie_db['release_date'] = pd.to_datetime(tn_movie_db['release_date'])
#strip whitespace from title
tn_movie_db['movie'] = tn_movie_db['movie'].str.strip()
#strip $
tn_movie_db['production_budget'] = tn_movie_db['production_budget'].str.strip('$')
tn_movie_db['domestic_gross'] = tn_movie_db['domestic_gross'].str.strip('$')
tn_movie_db['worldwide_gross'] = tn_movie_db['worldwide_gross'].str.strip('$')
#remove ,
tn_movie_db['production_budget'] = tn_movie_db['production_budget'].replace(",", "", regex=True)
tn_movie_db['domestic_gross'] = tn_movie_db['domestic_gross'].replace(",", "", regex=True)
tn_movie_db['worldwide_gross'] = tn_movie_db['worldwide_gross'].replace(",", "", regex=True)
#convert to integers
tn_movie_db['production_budget'] = tn_movie_db['production_budget'].astype(int)
tn_movie_db['domestic_gross'] = tn_movie_db['domestic_gross'].astype(int)
tn_movie_db['worldwide_gross'] = tn_movie_db['worldwide_gross'].astype(float)
#create metric ratios
tn_movie_db['ww_gross / budget'] = tn_movie_db['worldwide_gross'] / tn_movie_db['production_budget']
tn_movie_db['dom_gross / budget'] = tn_movie_db['domestic_gross'] / tn_movie_db['production_budget']

tn_movie_db

,release_date,movie,production_budget,domestic_gross,worldwide_gross,ww_gross / budget,dom_gross / budget
id,,,,,,,
1,2009-12-18,Avatar,425000000,760507625,2.776345e+09,6.532577,1.789430
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1.045664e+09,2.546673,0.587101
3,2019-06-07,Dark Phoenix,350000000,42762350,1.497624e+08,0.427892,0.122178
4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1.403014e+09,4.243841,1.388403
5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1.316722e+09,4.153696,1.956408
...,...,...,...,...,...,...,...
78,2018-12-31,Red 11,7000,0,0.000000e+00,0.000000,0.000000
79,1999-04-02,Following,6000,48482,2.404950e+05,40.082500,8.080333
80,2005-07-13,Return to the Land of Wonders,5000,1338,1.338000e+03,0.267600,0.267600
81,2015-09-29,A Plague So Pleasant,1400,0,0.000000e+00,0.000000,0.000000
82,2005-08-05,My Date With Drew,1100,181041,1.810410e+05,164.582727,164.582727

In [9]:
tn_movie_db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   release_date        5782 non-null   datetime64[ns]
 1   movie               5782 non-null   object
 2   production_budget   5782 non-null   int32
 3   domestic_gross      5782 non-null   int32
 4   worldwide_gross     5782 non-null   float64
 5   ww_gross / budget   5782 non-null   float64
 6   dom_gross / budget  5782 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(3), object(1)
memory usage: 293.6+ KB

In [11]:
#check to see if there any null values
tn_movie_db.isnull().sum()

release_date          0
movie                 0
production_budget     0
domestic_gross        0
worldwide_gross       0
ww_gross / budget     0
dom_gross / budget    0
dtype: int64

In [12]:
#check to see that there are no duplicates
tn_movie_db.duplicated().value_counts()

False    5782
dtype: int64

In [13]:
tn_movie_db.shape

(5782, 7)

### Data Visualization

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plt

# Set plot space as inline for inline plots and qt for external plots
%matplotlib inline

In [33]:
tmdb_movie_db['genre_ids'].value_counts()

[99]                    3565
[18]                    2119
[35]                    1622
[27]                    1125
[53]                     466
                        ...
[28, 16, 10770]            1
[12, 14, 10749, 878]       1
[14, 35, 878, 10751]       1
[12, 10749, 18]            1
[10751, 12, 28]            1
Name: genre_ids, Length: 2476, dtype: int64

In [59]:
#
#tn_movie_db = tn_movie_db.rename(columns = {"movie":"title"})
#table = pd.concat([tmdb_movie_db, tn_movie_db], axis = 1)
#tmdb_movie_db.join(tn_movie_db, how = 'outer')
#tn_movie_db.merge(tmdb_movie_db, how = 'left')

tmdb_movie_db.merge(tn_movie_db, how = 'left')

#tmdb_movie_db.iloc[0].title
#tn_movie_db

#df.loc[df['column_name'].isin(some_values)]

,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,ww_gross / budget,dom_gross / budget
0,"[12, 14, 10751]",12444,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,NaN,NaN,NaN,NaN,NaN
1,"[14, 12, 16, 10751]",10191,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,165000000.0,217581232.0,494870992.0,2.999218,1.318674
2,"[12, 28, 878]",10138,en,28.515,2010-05-07,Iron Man 2,6.8,12368,170000000.0,312433331.0,621156389.0,3.653861,1.837843
3,"[16, 35, 10751]",862,en,28.005,1995-11-22,Toy Story,7.9,10174,30000000.0,191796233.0,364545516.0,12.151517,6.393208
4,"[28, 878, 12]",27205,en,27.920,2010-07-16,Inception,8.3,22186,160000000.0,292576195.0,835524642.0,5.222029,1.828601
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25492,"[27, 18]",488143,en,0.600,2018-10-13,Laboratory Conditions,0.0,1,NaN,NaN,NaN,NaN,NaN
25493,"[18, 53]",485975,en,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,NaN,NaN,NaN,NaN,NaN
25494,"[14, 28, 12]",381231,en,0.600,2018-10-01,The Last One,0.0,1,NaN,NaN,NaN,NaN,NaN
25495,"[10751, 12, 28]",366854,en,0.600,2018-06-22,Trailer Made,0.0,1,NaN,NaN,NaN,NaN,NaN
25496,"[53, 27]",309885,en,0.600,2018-10-05,The Church,0.0,1,NaN,NaN,NaN,NaN,NaN

In [ ]:
x = 

y = .mean(tn_movie_db['dom_gross / budget'])

plt.hist(x, bins = 50, edgecolor='black')
plt.xlabel('Movie Genres')
plt.ylabel('Average Dom_gross / Budget')
plt.title('Average Dom_gross / Budget Ratio per Genres')
plt.show()

In [ ]:
x = 

y = .mean(tn_movie_db['ww_gross / budget'])

plt.hist(x, bins = 50, edgecolor='black')
plt.xlabel('Movie Genres')
plt.ylabel('Average WW_gross / Budget')
plt.title('Average WW_gross / Budget Ratio per Genres')
plt.show()

In [ ]:
(profit per g)

## Ian

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

## Frida

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

## Enrique

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

## John

In [ ]:
# Your code here - remember to use markdown cells for comments as well!